---
import Layout from '../layouts/Layout.astro';
import Block from '../components/Block.astro';
---

<Layout title="Welcome to Astro.">
  <main class="mt-8">
    <Block> <span class="text-white">Hello</span></Block>
  </main>
</Layout>
