---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="border-l border-r border-b border-gray-500 p-2">
    <div class="h-screen">
      <span class="text-white">hello</span>
    </div>
  </main>
</Layout>
