---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Layout from '@layouts/layout.astro';
import Block from '@components/block.astro';
import mountainImage from '@assets/images/mountain.png';
---

<Layout title="Welcome to Astro.">
  <main>
    <Block class="border-t-0" showTopLeft={false} showTopRight={false}>
      <div class="flex flex-row mx-16 my-12 space-x-20">
        <div class="flex-1 space-y-8">
          <h1 class="font-display font-light text-6xl">Navigating through the coding landscapes</h1>
          <p class="font-mono">
            Welcome to Erkkel Solutions' landscape, where expertise meets innovation. Step into our world where every line of code shapes the digital horizon.
            Let's embark on this journey together, transforming ideas into reality and shaping the ever-evolving coding landscape.
          </p>
          <button class="bg-orange-600 hover:bg-orange-800 text-gray-950 uppercase font-mono font-bold px-6 py-2.5">Get to know us</button>
        </div>
        <Icon name="compass" width={190} height={234} />
      </div>
      <div class="flex justify-center">
        <Image src={mountainImage} alt="mountain" />
      </div>
    </Block>
  </main>
</Layout>
