---
interface Props {
  class?: string;
  showTopLeft?: boolean;
  showTopRight?: boolean;
  showBottomLeft?: boolean;
  showBottomRight?: boolean;
}

import { Icon } from 'astro-icon/components';

const { showTopLeft = true, showTopRight = true, showBottomLeft = true, showBottomRight = true, class: className, ...rest } = Astro.props;

const size = 16; // 1em;
const pos = `-${size / 2 + 0.5}px`; // needed some additional fine-tuning
---

<div class:list={['cross-container border border-gray-600 p-4', className]} {...rest}>
  {showTopLeft ? <Icon name="cross" class="cross cross-top-left" size={size} /> : ''}
  {showTopRight ? <Icon name="cross" class="cross cross-top-right" size={size} /> : ''}
  {showBottomLeft ? <Icon name="cross" class="cross cross-bottom-left" size={size} /> : ''}
  {showBottomRight ? <Icon name="cross" class="cross cross-bottom-right" size={size} /> : ''}
  <slot />
</div>

<style define:vars={{ pos }}>
  [data-icon] {
    position: absolute;
    user-select: none;
    color: white;
    z-index: 1;
  }

  .cross-container {
    position: relative;
  }

  .cross-top-left {
    top: var(--pos);
    left: var(--pos);
  }

  .cross-top-right {
    top: var(--pos);
    right: var(--pos);
  }

  .cross-bottom-left {
    bottom: var(--pos);
    left: var(--pos);
  }

  .cross-bottom-right {
    bottom: var(--pos);
    right: var(--pos);
  }
</style>
