---
import Block from './block.astro';
import { Icon } from 'astro-icon/components';
---

<nav>
  <div class="mx-auto">
    <div class="flex">
      <Block class="flex px-24 py-8 items-center justify-center">
        <a href="/">
          <Icon name="logo" width={165} height={30} />
        </a>
      </Block>
      <Block class="flex flex-auto items-center justify-evenly border-l-0" showTopLeft={false} showBottomLeft={false}>
        <a href="#" class="font-mono hover:text-orange-500">About us</a>
        <a href="#" class="font-mono hover:text-orange-500">Services</a>
        <a href="#" class="font-mono hover:text-orange-500">Clients</a>
        <a href="#" class="font-mono hover:text-orange-500">Open positions</a>
        <a href="#" class="font-mono hover:text-orange-500">Contact</a>
      </Block>
    </div>
  </div>
</nav>
