---

---

<div id="snake" class="absolute top-0 left-0 bg-red-500 w-1 h-1 z-5"></div>

<script>
  import { moveSnake } from '@utils/snake';

  document.addEventListener('DOMContentLoaded', function () {
    moveSnake();
  });
</script>
