---

---

<div id="snake-ground"></div>

<script>
  import { moveSnake, deleteSnake } from '@utils/snake';

  window.addEventListener('resize', () => {
    deleteSnake();
  });

  document.addEventListener('DOMContentLoaded', () => {
    setInterval(() => {
      deleteSnake();
      moveSnake();
    }, 10000);
  });
</script>

<style is:global>
  .line {
    position: absolute;
    height: 2px;
    width: 2px;
    z-index: 90;
    top: var(--top);
    left: var(--left);
    background: linear-gradient(var(--deg), transparent calc(100% / 3), #ff5c00 0 calc(2 * 100% / 3), transparent 0);
    background-size: 400% 400%;
    background-position: 0 0;
  }
</style>
